/* buttons */

.btn{
  background-color: $grey;
  border-color: $grey;
  @include border-radius(20px);
}

.btn-primary { 
   background-color: $purple;
   border-color: $purple;
}

.btn-primary:hover,
.btn-primary:active {
   background-color: $purple2;
   border-color: $purple2;
}
