---
layout: default
---
<div class="jumbotron">

  <div class="container w-50 p-5 quote-dylan d-none d-sm-block">
    <blockquote class="blockquote text-justify text-sm-left">
      <h4 class="mb-3">Then you better start swimmin'
                            or you'll sink like a stone
                            for the times they are a-changin'.</h4>
  <footer class="blockquote-footer">Boby Dylan - <cite title="Source Title">The times are a-changing</cite></footer>
</blockquote>
    <p class="lead"></p>
  </div>
</div>
